:root {
    /* colors */
    --cyan:  hsl(176, 68%, 64%);
    --main-bg: hsl(218, 28%, 13%);
    --dark-blue: hsl(217, 28%, 15%);
    --white: hsl(0, 0%, 100%);

    /* fonts */
    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Raleway', sans-serif;
    --font-weight-headings: 700;
    --main-text-size: 1.6rem;
    --main-text-line-height: 1.8;

    /* rhythm */
    --mobile-rhythm: 45px;
    --desktop-container: 1200px;
    --desktop-center: 0 auto;
}


* { box-sizing: border-box; }

html {
    background-color: #000000;
    font-size: 10px;

}

body {
    color: var(--white);
    font-family: var(--font-body);
    font-size: var(--main-text-size);
    line-height: var(--main-text-line-height);
    background: #000000;
    overflow-x: hidden;
}

/* utilities */

.img-responsive {
    height: auto;
    max-width: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.hidden {
    display: none;
}

.container { 
    margin: 0 auto;
     
}

/* end utilities */

.header {
    background: #000000 !important;

}
.topnav {
    background-color: #000;
    overflow: hidden;
    float: right;
    background: #000000;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 73px;
    margin-top: 32px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-top: #0054A5 solid;
    
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #0054A5;
    color: white;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.5s;
  }
  .topnav a.active:hover {
    background-color: #000000;
    border-top: #0054A5 solid;
    color: white;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
.header__inner {
    align-items: inherit;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    
}

.header__logo {
    padding-top: 20px; 
    max-width: 130px; 
    margin-left: 14px;
}
.customer__logo {
    max-width: 240px;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.header__nav {
    align-items:flex-start;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header__nav__item {
    font-size: var(--main-text-size);
    padding: 0 60px;
    padding-top: 50px;
}

a.header__nav__item__link:link,
a.header__nav__item__link:visited {
    color: #fff;
    text-decoration: none;
}

a.header__nav__item__link:hover,
a.header__nav__item__link:active {
    color: #fff;
    border-top-color: aqua;
    border-top-style: solid;
}

.intro {
    background: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    
    padding: 0;
}

.intro__upper {
    padding: 5%;
}

.intro__illustration {
    max-width: 830px;
    width: 100%;
    float: right;
}
.vector {
    align-self: center;
    border: 1px solid #b1b0b0;
    width: 60%;
}
.intro__heading {
    position: absolute;
    font-family: var(--font-headings);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1px;
    width: 100%;
    color: rgb(247, 241, 241);
    top: 270px;
    left: 15%;
}
.line {
    position: absolute;
    width: 282px;
    height: 8px;
    background: #0054A5;
    top: 111px;
    left: 225px;
}

.first {
    background-image: url("./images/map.png");
    background-size: 69%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 85px;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    padding-top: 0px;
}
.intro__lower {
    position: relative;
    height: 30%;
    left: 40px;
    top: 200px;
    background: radial-gradient(73.42% 73.42% at 50% 50%, rgba(22, 142, 228, 0.9) 50%, rgba(18, 119, 163, 0) 100%);
    filter: blur(254px);
    width: 40%;
    float: left;
}

.intro__cta {
    padding: 0 var(--mobile-rhythm);
    background-color: var(--main-bg);
}

.button {
    background: hsl(198, 60%, 50%);
    background: linear-gradient(90deg, hsla(176, 68%, 64%, 1), hsla(198, 60%, 50%, 1) 100%); 
    border-radius: 50px;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:active {
    background: var(--cyan);
}

.button--cta {
    margin: 0 auto;
    max-width: 80%;
}

.intro__paragraph {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 50px 0;
}
#features{
    padding: 20px;
    margin: 0;
}
.features {
    width: 100%;
    height: 750px;
    
}
.features_back {
    position: absolute;
    height: 50%;
    background: radial-gradient(73.42% 73.42% at 50% 50%, rgba(22, 142, 228, 0.8) 90%, rgba(18, 119, 163, 0) 100%);
    filter: blur(254px);
    width: 34%;    
    margin-top: 18%;
    margin-left: 26%;
}
.features__box__image {
    margin: 5%;
    width: 90%;
    border-radius: 70px;
}
.features__box {
    position: absolute;
    width: 340px;
    height: 340px;
    left: 7%;
    margin-top: 4%;
    background: rgba(0, 84, 165, 0.4);
    border-radius: 61px;
}
.features__box2 {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    width: 340px;
    /* Note: backdrop-filter has minimal browser support */
    margin-top: 0;
    left: 2%;
    border-radius: 86px;
}
.features__box__right {
    position: absolute;
    width: 340px;
    height: 340px;
    float: right;
    margin-top:23%;
    margin-left: 60%;
    background: rgba(0, 84, 165, 0.4);
    border-radius: 61px;
}

.features__box2__right {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    width: 340px;
    /* Note: backdrop-filter has minimal browser support */
    margin-top: 27%;
    margin-left: 65%;
    border-radius: 86px;
}
.features__text {
    position: absolute;
    width: 25%;
    margin-left: 52%;
    text-justify: inter-word;
    margin-top: 4%;
    
}
.features__text2 {
    position: absolute;
    width: 25%;
    margin-top: 33%;
    margin-left: 20%;
}
.features__box__heading,
.productive__heading,
.earlyaccess__heading {
    font-family: var(--font-headings);
    font-size: 1.8rem;
    font-weight: var(--font-weight-headings);
    margin-top: 0;
}
.team {
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
}
#team {
    background-image: url(./images/team-back.png);
    background-repeat: no-repeat;
    background-size: 84%;
    background-position-y: 40px;
    height: auto;
    padding-top:60px;
    padding-bottom:200px;
}
.heading {
    display: flex;
    padding-left: 20%;
    flex-direction: column;
  }
.heading h2 {
    font-size: 1.8rem;
    display: inline-block;
  }
.head_img {
    width: 100%; 
    max-width: 150px;
    margin-left: 10%;
    float: left;
    padding-bottom: 15px;
}
.foot_img {
    width: 100%; 
    max-width: 150px;
    margin-right: 10%;
    float: right;
    padding-bottom: 15px;
}
.team .box {
    width: 200px;
    margin: 0 16px 8px;
    height: 450px;
    background: rgba(57, 55, 55, 0.5);
    border: 1px solid #4D4C4C;
    box-sizing: border-box;
    border-radius: 80px 40px 24px 24px;
    text-align: center;
}
.team .box h2,h3 {
    margin-top: 20px;
    width: 100%;
}
.dambol{    
    max-width: 400px;
    background-image: url(./images/“.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    margin-top: 30px;
}
.box img {
    
    max-height: 300px;
    
}

.contact__form {
    width: 70%;
    grid-area: 1/1;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 8px 16px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px 0px 0px 24px;
    border-color: #a3a3a379;
    border-style: solid;
    float: right;
    padding-left: 20%;
}
section {
    padding-top: 30px;
    margin-top: 10px;
    width: 100%;
}
.row {
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.contact__area {
    margin-top: 30px;
    width: 26%;
    margin-left: 20%;
    background: #232323;
    backdrop-filter: blur(84px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 20px;
    border-color: #a3a3a379;
    border-style: solid;
}
.contact_text {
    width: 95%;
    background: #454444;
    height: 30px;
    color: #fff;
    margin: 8px;
    border-radius: 70px;
    border-style: solid;
    border-color: rgba(177, 175, 175, 0.582);
    font-family: FontAwesome;
    padding-left: 5%;
}
.contact_text::placeholder{
    color: rgba(255, 255, 255, 0.685);
    font-size: medium;
    padding-left: 1%;
}
.contact__text__area{
    width: 95%;
    background: #454444;
    margin: 8px;
    border-radius: 19px;
    color: #fff;
    font-family: FontAwesome;
    padding-left: 5%;
}
.contact__text__area::placeholder{
    color: rgba(255, 255, 255, 0.685);
    font-size: medium;
    padding-left: 1%;
}
#contact{
    position: relative;
    height: 320px;
    
    padding-top: 1px;
}
.sub_btn {
    width: 95%;
    background: #000000;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 80px;
    color: #fff;
    height: 38px;
}
.center{
    line-height: 1.22;
}
.earlyaccess__button:hover {
    cursor: pointer;
}

.earlyaccess__email::placeholder {
    color: #ccc;
}

#footer{
    margin-bottom: 0;
}
.footer {
    background-color: hsl(180, 2%, 10%);
    padding: 50px var(--mobile-rhythm) 0 var(--mobile-rhythm);
    border-color: #a3a3a379;
    border-style: solid;
    
}
.footer__sections__text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footer__sections__text--contact {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.footer__sections {
    align-items: start;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 26%;
    grid-template-rows: 1fr;
    justify-content: start;
    margin: var(--desktop-center);
    max-width: var(--desktop-container);
    padding-left: 8%;
}

.footer__sections__text__inner {
    margin-top: -5px;
    margin-left: 50px;
}

.footer__list {
    list-style-type: none;
    margin-left: 0;
    margin-top: var(--mobile-rhythm);
    padding-left: 0;
}

a.footer__list__link:link,
a.footer__list__link:visited {
    color: var(--white);
    text-decoration: none;
}
a.footer__list__link:hover,
a.footer__list__link:active {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

.footer__social {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: var(--mobile-rhythm);
    margin-left: 0;
    padding-left: 0;
}

.footer__social__item {
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 10px;
    padding: 7px 0 0 9px;
    height: 40px;
    width: 40px;
    position: relative;
}


.footer__social__item:hover {
    border: 1px solid var(--cyan);
    color: var(--cyan);
    cursor: pointer;
}

.footer__social__item > svg { max-width: 20px; }

.footer__social__item--facebook {
    padding-left: 10px;
}

.footer__social__item--twitter {
    padding-top: 10px;
}

.footer__social__item--facebook > svg { max-width: 15px; }

.attribution { font-size: 11px; text-align: center; color: #fff; margin:0; padding: 25px 0;}
.attribution a { color: hsl(228, 45%, 44%); color: #fff; }


@media only screen and (max-width: 800px) {

    .header {
        padding: 0 2%;
        background: #000000;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      margin: 0;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding-right: 50px;
        background: #00000080;
    }
    .header__inner {
        justify-content: space-between;
        max-width: var(--desktop-container);
        margin: var(--desktop-center);
    }
    .intro {
        background: #000000;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 100% 400px;
        padding: 0;
    }

    .intro__lower {
        background-color: transparent;
        padding-bottom: 160px;
    }

    .intro__upper {
        padding: 0;
    }
    .intro__heading {
        position: absolute;
        font-family: var(--font-headings);
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 2px;
        width: 100%;
        color: rgb(247, 241, 241);
        top: 170px;
        left: 15%;
    }
    .first {
        background-image: url("./images/map.png");
        background-size: 69%;
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: 109px;
        width: 100%;
        height: 300px;
        margin-top: 20px;
        padding-top: 0px;
    }
    .intro__lower {
        position: relative;
        height: 40%;
        left: 40px;
        top: 100px;
        background: radial-gradient(73.42% 73.42% at 50% 50%, rgba(22, 142, 228, 0.9) 90%, rgba(18, 119, 163, 0) 100%);
        filter: blur(254px);
        width: 40%;
        float: left;
    }
    .header__logo {
        padding-top: 10px; 
        max-width: 90px; 
    }
    .customer__logo {
        max-width: 140px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .intro__cta {
        background-color: transparent;
        margin: var(--desktop-center);
        max-width: 730px;
    }

    .intro__paragraph {
        max-width: 520px;
        margin: var(--desktop-center);
    }

    .button--cta {
        max-width: 280px;
    }

    .earlyaccess__heading {
        font-size: 2.5rem;
    }

    .earlyaccess__form {
        margin-top: 0;
    }

    .productive__image {
        margin: 80px 0;
    }

    .productive {
        padding: 0;
    }

    .quotes {
        padding: 50px 0 250px 0;
    }

    .features,
    .quotes,
    .productive {
        max-width: var(--desktop-container);
        margin: var(--desktop-center);
        padding-left: 2%;
        padding-right: 2%;
    }

    .signup__form__warning {
        margin: 0;
    }

    .features { 
        display: grid;
        gap: 10px 150px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


    #contact{
        margin-bottom: 30px;
    }

    .contact__area {
        margin-top: 30px;
        width: 40%;
        margin-left: 6%;
        background: #232323;
        backdrop-filter: blur(84px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 24px;
        position: absolute;
        padding-top: 10px;
        padding-bottom: 20px;
        border-color: #a3a3a379;
        border-style: solid;
    }
    .contact_text {
        width: 90%;
        background: #454444;
        height: 30px;
        margin: 8px;
        border-radius: 70px;
        border-style: solid;
        border-color: rgba(177, 175, 175, 0.582);
    }
    .contact__text__area{
        width: 90%;
        background: #454444;
        margin: 8px;
        border-radius: 19px
    }
    .footer__sections {
        align-items: start;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr 26%;
        grid-template-rows: 1fr;
        justify-content: start;
        margin: var(--desktop-center);
        max-width: var(--desktop-container);
        padding-left: 8%;
    }

    .footer__list,
    .footer__social,
    .footer__sections__text {
        margin-top: 0;
    }

    .footer__social { 
        display: block;
        float: left;
    }

    .footer__image {
        margin: var(--desktop-center);
        max-width: var(--desktop-container);
    }

    .footer__logo { 
        margin: 80px 0 35px 0;
    }

    .footer__sections__text__inner {
        margin-left: 25px;
    }
}

@media screen and (min-width: 1000px) {
    .footer__social {
        display: flex;
    }
}

@media screen and (min-width: 1700px) {
    .intro {
        background-size: contain;
    }
}