:root {
    /* colors */
    --cyan:  hsl(176, 68%, 64%);
    --main-bg: hsl(218, 28%, 13%);
    --dark-blue: hsl(217, 28%, 15%);
    --white: hsl(0, 0%, 100%);

    /* fonts */
    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Raleway', sans-serif;
    --font-weight-headings: 700;
    --main-text-size: 1.6rem;
    --main-text-line-height: 1.8;

    /* rhythm */
    --mobile-rhythm: 45px;
    --desktop-container: 1200px;
    --desktop-center: 0 auto;
}


* { box-sizing: border-box; }

html {
    background-color: #000000;
    font-size: 10px;
}

body {
    color: var(--white);
    font-family: var(--font-body);
    font-size: var(--main-text-size);
    line-height: var(--main-text-line-height);
    background: #000000;
    
}

/* utilities */

.img-responsive {
    height: auto;
    max-width: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.hidden {
    display: none;
}

.container { 
    margin: 0 auto;
    max-width: 1220px; 
}

/* end utilities */

.header {
    background: #000000;
}

.header__inner {
    align-items: inherit;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    
}

.header__logo {
    padding-top: 20px; 
    max-width: 130px; 
}
.customer__logo {
    max-width: 240px;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.header__nav {
    align-items:flex-start;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header__nav__item {
    font-size: var(--main-text-size);
    padding: 0 60px;
    padding-top: 50px;
}

a.header__nav__item__link:link,
a.header__nav__item__link:visited {
    color: #fff;
    text-decoration: none;
}

a.header__nav__item__link:hover,
a.header__nav__item__link:active {
    color: #fff;
    border-top-color: aqua;
    border-top-style: solid;
}

.intro {
    background: #000000;
    background-repeat: no-repeat;
    background-size: 150%;
    
    padding: 0;
}

.intro__upper {
    padding: 5%;
}

.intro__illustration {
    max-width: 830px;
    width: 100%;
    float: right;
}
.vector {
    align-self: center;
    border: 1px solid #b1b0b0;
    width: 60%;
}
.intro__heading {
    position: absolute;
    font-family: var(--font-headings);
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
    width: 100%;
    color: rgb(247, 241, 241);
    top: 170px;
    left: 0px;
}
.line {
    position: absolute;
    width: 282px;
    height: 8px;
    background: #0054A5;
    top: 111px;
    left: 225px;
}

.first {
    background-image: url("./images/map.png");
    background-size: 69%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 85px;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    padding-top: 0px;
}
.intro__lower {
    position: relative;
    height: 30%;
    left: 40px;
    top: 200px;
    background: radial-gradient(73.42% 73.42% at 50% 50%, rgba(22, 142, 228, 0.9) 0%, rgba(18, 119, 163, 0) 100%);
    filter: blur(254px);
    width: 40%;
    float: left;
}

.intro__cta {
    padding: 0 var(--mobile-rhythm);
    background-color: var(--main-bg);
}

.button {
    background: hsl(198, 60%, 50%);
    background: linear-gradient(90deg, hsla(176, 68%, 64%, 1), hsla(198, 60%, 50%, 1) 100%); 
    border-radius: 50px;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:active {
    background: var(--cyan);
}

.button--cta {
    margin: 0 auto;
    max-width: 80%;
}

.intro__paragraph {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 50px 0;
}

.features {
    width: 100%;
    height: 750px;
    
}
.features_back {
    position: relative;
    height: 60%;
    top: 200px;
    background: radial-gradient(73.42% 73.42% at 50% 50%, rgba(22, 142, 228, 0.8) 90%, rgba(18, 119, 163, 0) 100%);
    filter: blur(254px);
    width: 60%;
    left: 80%;
    
}
.features__box {
    position: absolute;
    width: 338px;
    height: 338px;
    left: 130px;
    margin-top: 115px;
    background: rgba(0, 84, 165, 0.4);
    border-radius: 61px;
}
.features__box__right {
    position: absolute;
    width: 338px;
    height: 338px;
    float: right;
    margin-top:387px;
    margin-left: 700px;
    background: rgba(0, 84, 165, 0.4);
    border-radius: 61px;
}
.features__box2 {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    margin-top: 40px;
    left: 30px;
    border-radius: 86px;
}
.features__box2__right {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    margin-top: 450px;
    margin-left: 760px;
    border-radius: 86px;
}
.features__text {
    width: 60%;
    margin-top: 80px;
    
}
.features__text2 {
    width: 60%;
    margin-top: 80px;
    margin-left: 290px;
}
.features__box__image {
    margin: 15px 20px 15px 20px;
    width: 340px;
    border-radius: 70px;
}

.features__box__heading,
.productive__heading,
.earlyaccess__heading {
    font-family: var(--font-headings);
    font-size: 1.8rem;
    font-weight: var(--font-weight-headings);
    margin-top: 0;
}
.team {
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
}
#team {
    background-image: url(./images/team-back.png);
    background-repeat: no-repeat;
    background-size: 84%;
    background-position-y: 100px;
    height: auto;
    padding-top:120px;
    padding-bottom:200px;
}
.heading {
    display: flex;
    padding-left: 20%;
    flex-direction: column;
  }
.heading h2 {
    font-size: 1.8rem;
    display: inline-block;
  }
.head_img {
    width: 100%; 
    max-width: 150px;
    margin-left: 200px;
    float: left;
}
.team .box {
    width: 200px;
    margin: 0 16px;
    height: 316px;
    background: rgba(57, 55, 55, 0.5);
    border: 1px solid #4D4C4C;
    box-sizing: border-box;
    border-radius: 80px 40px 24px 24px;
    text-align: center;
}
.team .box h2,h3 {
    margin-top: 20px;
    width: 100%;
}
.dambol{    
    max-width: 400px;
    background-image: url(./images/“.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}
.box img {
    
    max-height: 300px;
    
}
.team__box1 {
    position: absolute;
    width: 200px;
    height: 316px;
    margin-left: 330px;
    margin-top: 260px;
    background: rgba(57, 55, 55, 0.5);
    border: 1px solid #4D4C4C;
    box-sizing: border-box;
    border-radius: 80px 40px 24px 24px;
}
.team__box2 {
    position: absolute;
    width: 200px;
    height: 316px;
    margin-left: 560px;
    margin-top: 260px;
    background: rgba(57, 55, 55, 0.5);
    border: 1px solid #4D4C4C;
    box-sizing: border-box;
    border-radius: 80px 40px 24px 24px;
}
.team__box3 {
    position: absolute;
    width: 200px;
    height: 316px;
    margin-left: 790px;
    margin-top: 260px;
    background: rgba(57, 55, 55, 0.5);
    border: 1px solid #4D4C4C;
    box-sizing: border-box;
    border-radius: 80px 40px 24px 24px;
}
.team__box4 {
    position: absolute;
    width: 200px;
    height: 316px;
    margin-left: 1020px;
    margin-top: 260px;
    background: rgba(57, 55, 55, 0.5);
    border: 1px solid #4D4C4C;
    box-sizing: border-box;
    border-radius: 80px 40px 24px 24px;
}
.contact__form {
    width: 70%;
    height: 330px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 8px 16px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px 0px 0px 24px;
    float: right;
}
section {
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}
.contact__area {
    display: flex;
    padding: 4px;
    margin-top: 30px;
    margin-left: 220px;
    width: 359px;
    height: 272px;
    background: #232323;
    backdrop-filter: blur(84px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
    
}
.contact_text {
    width: 100%;
    height: 40px;
    margin: 10px;
    border-radius: 85px;
}

.earlyaccess {
    background-color: var(--dark-blue);
    border-radius: 10px;
    margin: -400px 15px 0 15px;
    padding: 35px 55px;
    text-align: center;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.earlyaccess__form {
    margin-top: 50px;
}

.earlyaccess__email {
    border-radius: 50px;
    border: none;
    font-size: 1.6rem;
    padding: 15px 20px;
    width: 100%;
}

.earlyaccess__button {
    border: none;
    margin: 25px 0;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}

.earlyaccess__button:hover {
    cursor: pointer;
}

.earlyaccess__email::placeholder {
    color: #ccc;
}

.signup__form__warning { 
    color: hsl(0, 100%, 63%);
    padding-left: 20px;
    text-align: left;
}

.footer {
    background-color: hsl(180, 2%, 10%);
    padding: 200px var(--mobile-rhythm) 0 var(--mobile-rhythm);
    text-align: left;
}

.footer__logo {
    margin: 145px 0 0 30px;
}

.footer__sections__text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footer__sections__text--contact {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.footer__sections__text__inner {
    margin-top: -5px;
    margin-left: 50px;
}

.footer__list {
    list-style-type: none;
    margin-left: 0;
    margin-top: var(--mobile-rhythm);
    padding-left: 0;
}

a.footer__list__link:link,
a.footer__list__link:visited {
    color: var(--white);
    text-decoration: none;
}
a.footer__list__link:hover,
a.footer__list__link:active {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

.footer__social {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: var(--mobile-rhythm);
    margin-left: 0;
    padding-left: 0;
}

.footer__social__item {
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 10px;
    padding: 7px 0 0 9px;
    height: 40px;
    width: 40px;
    position: relative;
}


.footer__social__item:hover {
    border: 1px solid var(--cyan);
    color: var(--cyan);
    cursor: pointer;
}

.footer__social__item > svg { max-width: 20px; }

.footer__social__item--facebook {
    padding-left: 10px;
}

.footer__social__item--twitter {
    padding-top: 10px;
}

.footer__social__item--facebook > svg { max-width: 15px; }

.attribution { font-size: 11px; text-align: center; color: #fff; margin:0; padding: 25px 0;}
.attribution a { color: hsl(228, 45%, 44%); color: #fff; }


@media (min-width: 800px) {

    .header {
        padding: 0 2%;
    }

    .header__inner {
        justify-content: space-between;
        max-width: var(--desktop-container);
        margin: var(--desktop-center);
    }

    .intro {
        background-image: url('https://bobmatyas.github.io/fm-fylo-dark-landing-page/images/bg-curvy-desktop.svg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 100% 400px;
        padding: 0;
    }

    .intro__lower {
        background-color: transparent;
        padding-bottom: 160px;
    }

    .intro__upper {
        padding: 0;
    }

    .intro__heading { 
        font-size: 4.2rem;
        line-height: 0;
        margin: 45px auto 0 auto;
        max-width: 730px;
        text-align: center;
    }

    .intro__cta {
        background-color: transparent;
        margin: var(--desktop-center);
        max-width: 730px;
    }

    .intro__paragraph {
        max-width: 520px;
        margin: var(--desktop-center);
    }

    .button--cta {
        max-width: 280px;
    }

    .earlyaccess__heading {
        font-size: 2.5rem;
    }

    .earlyaccess__form {
        margin-top: 0;
    }

    .productive__image {
        margin: 80px 0;
    }

    .productive {
        padding: 0;
    }

    .quotes {
        padding: 50px 0 250px 0;
    }

    .features,
    .quotes,
    .productive {
        max-width: var(--desktop-container);
        margin: var(--desktop-center);
        padding-left: 2%;
        padding-right: 2%;
    }

    .signup__form__warning {
        margin: 0;
    }

    .features { 
        display: grid;
        gap: 10px 150px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .quotes__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 35px;
    }

    .productive {
        align-items: center;
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .productive__heading {
        font-size: 3.3rem;
        line-height: 1.2;
        text-align: left;
        max-width: 65%;
    }

    .earlyaccess {
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
    }

    .earlyaccess__button {
        margin: 0;
        width: 225px;
    }

    .earlyaccess__form {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin: 25px auto 0 auto;
    }
    
    .earlyaccess__email {
        width: 380px;
    }
 
    .earlyaccess__button {
        max-width: 200px;
    }

    .footer__sections {
        align-items: start;
        display: grid;
        gap: 60px;
        grid-template-columns: 25% 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: start;
        margin: var(--desktop-center);
        max-width: var(--desktop-container)
    }

    .footer__list,
    .footer__social,
    .footer__sections__text {
        margin-top: 0;
    }

    .footer__social { 
        display: block;
    }

    .footer__image {
        margin: var(--desktop-center);
        max-width: var(--desktop-container);
    }

    .footer__logo { 
        margin: 80px 0 35px 0;
    }

    .footer__sections__text__inner {
        margin-left: 25px;
    }
}

@media screen and (min-width: 1000px) {
    .footer__social {
        display: flex;
    }
}

@media screen and (min-width: 1700px) {
    .intro {
        background-size: contain;
    }
}